.mat-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-lg {
  font-size: 28px;
  width: 28px;
  height: 28px;
  line-height: 28px;
}

.icon-md {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.icon-sm {
  font-size: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.icon-xs {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}
