.table-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-md);
}

.table {
  min-height: 576px;
  overflow-x: auto;
}

.table-no-data-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  width: 100%;
  height: 200px;
}

::ng-deep .mat-mdc-menu-item-text {
  display: flex;
  align-items: center;
  line-height: 0;
}
