:host {
  display: block;
  height: 100vh;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: var(--color-white);
  min-height: 100vh;
}
